body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#D6E2F0;
    display: flex;
    

}

.main {
 width: 320px;
 height: 497px;
 border-radius: 20px;
 display: inherit;
 flex-direction: column;
 margin-left:auto;
 margin-right:auto;
 margin-top: 12%;
 padding-top: 5px;
 padding-bottom: 2px;
 background-color: white;
  
}


.qrmark {
display: inherit;
margin-top: 16px;
width: 288px;
height: 288px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
}

.text {
 color: #1f314f;
 text-align: center;
 font-size: 22px;
 font-weight: 700;
 width: 288px;
 height:56px;
 margin-left: auto;
 margin-right: auto;
 line-height: 28px;
}

.text2 {
width:256px;
height:57px;
display:inherit;
margin-left:auto;
margin-right:auto;
font-size:15px;
color:#7D889E;
line-height:18px;
margin-top:-2px;
font-weight:400;
text-align:center;
}

   
